ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  @media only screen and (min-width: 700px) {
    /* .container {
        max-width: 800px;
        flex-direction: column;
    } */
     .media {
        width: 800px;
     }
  }  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  body {
    background-color: black;
  }
  p {
    text-align: center;
    color: red;
    
  }
  h1, h2,h3,h4 {
    text-align: center;
    color: blue;
  }
  #para1{
    color:green; 
    text-shadow: 0 0 6px #FF0000;
 }
 .label1{
    color: green;
 }
 a:link, a:visited {
    background-color:green;
    color: white;
    padding: 9px 12px;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color:blue;
    transition-duration: 1s;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  #name1{
    color: red;
  }

